<div class="viago-field">
  @if (label()) {
    <label
      class="viago-field__label"
      [attr.for]="id() || null"
    >
      {{ label() }}

      @if (required()) {
        <span class="viago-field__required">*</span>
      }
    </label>
  }

  <input
    class="viago-input"
    [class.viago-input--error]="error()"
    [id]="id()"
    [name]="name()"
    [type]="type()"
    [placeholder]="placeholder()"
    [value]="value()"
    [disabled]="disabled()"
    [readOnly]="readonly()"
    [required]="required()"
    [attr.maxlength]="maxlength()"
    [attr.min]="min()"
    [attr.max]="max()"
    [attr.autocomplete]="autocomplete()"
    [attr.inputmode]="inputmode()"
    (blur)="blurred.emit()"
    [attr.aria-invalid]="error() ? 'true' : null"
    [attr.aria-describedby]="error() && id() ? id() + '-error' : null"
    (input)="onInput($event)"
  />

  @if (error()) {
    <span class="viago-field__error" [id]="id() ? id() + '-error' : null" role="alert">
      {{ error() }}
    </span>
  } @else if (helperText()) {
    <span class="viago-field__helper">
      {{ helperText() }}
    </span>
  }
</div>
